body, html{
    background-color: #F1F2F8;
    font-family: 'Poppins', sans-serif;
    overflow:hidden;
}

.header{
    background-color: #E1E6EC;
    width: 100%;
    height: 60px;
    display: flex;
}


.header h1 {
    font-family: 'Work Sans', sans-serif;
    margin: auto;
    text-align: left;
    color: #5E60CE;
}

.hamburger {
    position: relative;
    display: flex;
    left: 5%
}

.hamburger img{
    height: 40px;
    width: 50px;
    margin: auto;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.pp{
    height: 120px;
    width: 120px;
    background-image: url(../img/elon.jpg);
    background-repeat: no-repeat;
    background-size: 120px 120px;
    border-radius: 50%;
    margin-left: 20px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
}

.container-profile {
    margin-top: 50px;
}

.profile{
    margin-top:20px;
}

.container-link {
    margin-top:50px;
    margin-left:5%;
}

.link {
    margin-top:20px;
    border-radius: 30px;
    background-color: #C8C9CE;
    height: 130px;
    width: 300px;
    
}

.icono-editor{
    height: 100px;
    width: 100px;
    background-color: #E1E6EC;
    background-repeat: no-repeat;
    background-size: 120px 120px;
    border-radius: 30px;
    margin-left: 10px;
    position: absolute;
    display: flex;
    margin-top:15px
}

.icono-editor p{
    margin: auto;
}

.input-link{
    height: 40px;
    width: 150px;
    border-radius: 30px;
    background-color: #e4e6ec;
    margin-bottom: 10px;
    margin-left: 20px;
    display: block;
    text-align: left;
}

.input-link p{
    margin: auto;
}

.new-card {
    margin-top: 20px;
}

button{
    border: 0;
}

.btn-elegir{
    height: 40px;
    width: 150px;
    border-radius: 30px;
    background-color: #e4e6ec;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 20px;    
    display: flex;
    text-align: center;
}

.btn-elegir p{
    margin: auto;
}

.btn-eliminar{
    height: 40px;
    width: 150px;
    border-radius: 30px;
    background-color: #C8C9CE;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 20px;  
    display: flex;
    text-align: center;
}

.btn-eliminar p{
    margin: auto;
}
.container-info{
    margin-top: 60px;
}

input {
    border: 0px;
    padding-left: 5%;
}


.text-input {
    margin-left: 10%;
    height: 40px;
    width: 260px;
    border-radius: 30px;
    margin-bottom: 15px;
}
textarea{
    border: 0px;
    padding-left: 5%;
    padding-top: 3%;
}
.desc-input {
    margin-left: 10%;
    border-radius: 15px;
    width: 260px;
    margin-bottom: 15px;
    height: 100px;
}

.footer {
    margin-top:10px;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
}

.pag {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #5E60CE;
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.pag span{
    margin: auto;
    color: #f2f2f2;
}


.tarjetaSec{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    height: 80px;
    border-radius: 30px;
    background: #F1F2F8;
    box-shadow: 0px 10px 10px #dfdfdf;
}

.tarjetaSec:active {
    box-shadow: inset 0px 10px 10px #dfdfdf;
}

.sectionCards{
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    height: 325px;
    overflow: auto;

}

.icono img{
    height: 50px;
    width: 50px;
    position: absolute;
    display: flex;
    margin: auto;
    margin-top: 15px;
}

.texto {
    text-align: center;
    display: flex;
}

.texto p{
    margin: auto;
    color: #555;
    font-size: 16px;
    font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.line{
    height: 70%;
    width: 100%;
    margin: 0 auto;
    border-top: 3px solid #555;
    margin-top:25px;
}
.drag img{
    height: 40px;
    width:15px;
    align-items: center;
    position: absolute;
    display: flex;
    margin: auto;
    margin-top: 20px;
}