body, html{
    background-color: #F1F2F8;
    font-family: 'Poppins', sans-serif;
    overflow:hidden;
}

main {
    max-width: 475px;
    
}

.container{
    
    justify-content: center;
}
.tarjeta-container{
    position: relative;
    width: 100%;
    height: 170px;
}
.tarjeta{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    border-radius: 30px;
    background-color: #F1F2F8;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    box-shadow: 0px 10px 10px #dfdfdf;
}


.tarjeta-container.hover .tarjeta {
    transform: rotateY(180deg);
}


.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
}
.back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    
}


.qrcode-box img {
    height:150px;
    width:150px;
    display: flex;
    margin: auto;
    margin-top: 10px;
}


.pp {
    height: 120px;
    width: 120px;
    background-image: url(../img/elon.jpg);
    background-repeat: no-repeat;
    background-size: 120px 120px;
    border-radius: 50%;
    margin-left: 20px;
}

.line{
    height: 70%;
    width: 120%;
    margin: 0 auto;
    border-right: 3px solid #555;
    display: inline-block;
    margin-top:25px;
}

.bio{
    height: 100%;
    width: 50%;
    display: inline-block;
    overflow: auto;
}
.bio p{
    font-size: 14px;
    margin-top: 25px;
}

h2{
    font-family:'Francois One', sans-serif;
    font-size: 2rem;
}

.tarjetaSec{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    height: 80px;
    border-radius: 30px;
    background: #F1F2F8;
    box-shadow: 0px 10px 10px #dfdfdf;
}

.tarjetaSec:active {
    box-shadow: inset 0px 10px 10px #dfdfdf;
}

.sectionCards{
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    height: 100%;
    overflow: auto;

}

.socialMedia img{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.footer {
    margin-top:10px;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
}

.row{
    margin-left: 0px;
}


.icono img{
    height: 60px;
    width: 60px;
    position: absolute;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.texto {
    text-align: center;
    display: flex;
}

.texto p{
    margin: auto;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}



@media only screen and (min-width:200px) {
    .socialMedia img{
        margin-left: 10px;
        margin-right: 10px;
    }
}